[Unit]
Description=Edgeberry Core service
Documentation=https://github.com/edgeberry
After=network.target

[Service]
WorkingDirectory=/opt/Edgeberry/Core/
Type=simple
ExecStart=/usr/bin/node /opt/Edgeberry/Core/build/index.js
Restart=on-failure

[Install]
WantedBy=multi-user.target